<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="RSRun" value="https://get.teamviewer.com/"/>
    <add key="IPMask" value="192.168.1."/>
    <add key="AllowQuit" value="1"/>
    <add key="IconFontSize" value="11"/>
    <add key="IconColor" value="White"/>
    <add key="IconFont" value="Microsoft Sans Serif"/>
  </appSettings>
</configuration>